<div class="row col-lg-6 offset-lg-3">
  <div class="row card-body card border-danger mb-3 card-text text-info font "  *ngIf="userLogeed|async as user">
    <button class=" btn d-grid  gap-2 col-6 mx-auto font btn-outline-success text-secondary btn btn-outline-success" data-bs-toggle="modal" type="submit" [routerLink]="['CreateComponent']" data-bs-target="#CreateComponentModal">
      Crear</button>
  </div>
  <hr class="featurette-divider ">

  <div class="album  py-5">

    <div class="container">

      <div class="row row-cols-1  row-cols-sm-2 row-cols-md-3 g-3">

        <div class="col">
          <div class="card ">
            <div class="card-body card border-danger mb-3 card-text text-danger font"*ngFor="let post of Posts">
              <p class="card-text text-danger font">

                Secundario Completo:
                <td>{{ post.title }}</td>
                <br>
                Modalidad “Economía y Gestión de las Organizaciones”
                <td>{{ post.content }}</td>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
                    data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">Edit</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">

            <div class="card-body card border-danger mb-3">
              <p class="card-text text-danger font">
                <br>
                Curso de Ingles:
                <br>
                Dado por la municipalidad de 3 años
                <br>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
                    data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">Edit</button>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card shadow-sm">

            <div class="card-body card border-danger mb-3">
              <p class="card-text  text-danger font">
                <br>
                Curso de :
                <br>
                sueldos y jornales
                <br>
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
                    data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">Edit</button>
                </div>

              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
