<div class="form-group  row modal fade" id="EditComponentModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
  <div class="modal-dialog "></div>
  <form  >
    <div class="container  pt-4">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="card  border-secondary text-center mb-3" style="max-width: 40rem;">
            <div class="card font">
                <div class="mt-3 "> </div>
                <p class="h4">Editar</p>
              </div>
              <div class="card ">
                <input type="hidden" />

                <div class="input-group font mb-3">
                  <span class="input-group-text "></span>
                  <input type="text" class="form-control" placeholder="Titulo" formControlName="titulo"  >
                </div>
                <p class="h4">Informacion</p>
              </div>
              <div class="input-group font mb-3">
                <span class="input-group-text "></span>
                <input type="text" class="form-control" placeholder="Informacion" formControlName="informacion"  >

              </div>
              <button  class=" btn d-grid text-success gap-2 col-6 mx-auto font btn-outline-success " data-bs-dismiss="modal"  >Aceptar</button>
              <br>
              <button  class=" btn d-grid text-danger gap-2 col-6 mx-auto font btn-outline-danger " data-bs-dismiss="modal"  >Salir</button>
              <br>
  </div>
  </div>
