
<div class="col-lg-6 offset-lg-3">
<div class="row">
  <hr class="featurette-divider" />

  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card-body  text-center card border-danger mb-3">
            <p class="card-text text-danger font ">
              Ingles
              <br>
              <br>
              Escritura
              <br>
              <br>
              </p>
            <p class="card-text font">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="20" style="width: 80%;"></div>
              </div>

            <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
            data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <p class="card-text text-danger  font">
                Ingles
                <br>
                <br>
                comprensión lectora
                <br>
                <br>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="20" style="width: 80%;"></div>
              </div>


            <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
            data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <p class="card-text text-danger font">

                Ingles
                <br>
                <br>
                conversación
                <br>
                <br>

                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 65%;"></div>
              </div>


            <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
            data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <p class="card-text text-danger font">

                Programación con
                <br>
                <br>
                Css
                <br>
                <br>

                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 90%;"></div>
              </div>


            <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
            data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
              Edit
            </button>
          </div>
        </div>


        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <p class="card-text text-danger font">

                Programación con
                <br>
                <br>
                Java
                <br>
                <br>

                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 50%;"></div>
              </div>


            <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
            data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
              Edit
            </button>
          </div>
        </div>



        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <p class="card-text text-danger font">

                Programación con
                <br>
                <br>
                HTML
                <br>
                <br>

                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 70%;"></div>
              </div>


            <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
            data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <p class="card-text text-danger font">

                Editores de imágenes
                <br>
                <br>
                Photoshop
                <br>
                <br>

                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 90%;"></div>
              </div>


            <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
            data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
              Edit
            </button>
          </div>
        </div>


        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <p class="card-text text-danger font">

                Editores de imágenes
                <br>
                <br>
                clip studio
                <br>
                <br>

                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 95%;"></div>
              </div>


            <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
            data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <p class="card-text text-danger font">
                Modelado 3d
                <br>
                <br>
                Blender
                <br>
                <br>
                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 75%;"></div>
              </div>
            <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
            data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <p class="card-text text-danger font">

                Editores de videos
                <br>
                <br>
                after effects
                <br>
                <br>

                <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 60%;"></div>
              </div>
            <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
            data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
              Edit
            </button>
          </div>
        </div>



             <div class="col">
              <div class="card-body text-center card border-danger mb-3">
                <p class="card-text font">
                  <p class="card-text text-danger font">
                    Editores de imágenes
                    <br>
                    Piskel
                    <br>
                    LibreSprite
                    <br>
                    Pixelorama
                    <br>
                    <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 75%;"></div>
                  </div>
                <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
                data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
                  Edit
                </button>
              </div>
            </div>

            <div class="col">
              <div class="card-body text-center card border-danger mb-3">
                <p class="card-text font">
                  <p class="card-text text-danger font">
                    Editores de imágenes
                    <br>
                    <br>
                    Live 2D
                    <br>
                    <br>
                    <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="20" style="width: 45%;"></div>
                  </div>
                <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"
                data-bs-toggle="modal" data-bs-target="#exampleModal" *ngIf="userLogeed|async as user">
                  Edit
                </button>
              </div>
            </div>


        </div>
      </div>
    </div>
  </div>
</div>

