<div class="row">
  <hr class="featurette-divider" />

  <div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card-body  text-center card border-danger mb-3">
            <p class="card-text font">
              <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#ff0000'"
                [innerStrokeColor]="'#ffae00'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress>
            </p>
            <button type="button" class="font btn btn-sm btn-outline-secondary">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#ff0000'"
                [innerStrokeColor]="'#ffae00'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress>
            </p>
            <button type="button" class="font btn btn-sm btn-outline-secondary">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#ff0000'"
                [innerStrokeColor]="'#ffae00'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress>
            </p>
            <button type="button" class="font btn btn-sm btn-outline-secondary">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#ff0000'"
                [innerStrokeColor]="'#ffae00'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress>
            </p>
            <button type="button" class="font btn btn-sm btn-outline-secondary">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#ff0000'"
                [innerStrokeColor]="'#ffae00'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress>
            </p>
            <button type="button" class="font btn btn-sm btn-outline-secondary">
              Edit
            </button>
          </div>
        </div>

        <div class="col">
          <div class="card-body text-center card border-danger mb-3">
            <p class="card-text font">
              <circle-progress
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#ff0000'"
                [innerStrokeColor]="'#ffae00'"
                [animation]="true"
                [animationDuration]="300"
              ></circle-progress>
            </p>
            <button type="button" class="font btn btn-sm btn-outline-secondary">
              Edit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
