


<div class="form-group  row modal fade" id="loginModal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" >
  <div class="modal-dialog text-center "></div>
  <div class="container  pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">


  <div class="card border-danger mb-3" style="max-width: 40rem;">
    <div class="form-group font text-center">

      <label for="exampleInputEmail1" class="form-label  mt-4">Email</label>

      <input type="text" [(ngModel)]="usuario.email" class="form-control"   class="form-control"  aria-describedby="emailHelp" placeholder="ingrese su email">

    </div>
    <div class="form-group font text-center">
      <label for="exampleInputPassword1" class="form-label mt-4" >contraseña</label>

      <input type="password" [(ngModel)]="usuario.password" class="form-control "  placeholder="ingrese su contraseña">

      <div class="mt-4"></div>
    <button  class="btn btn-outline-danger" data-bs-dismiss="modal" >Cancelar</button>
    <button class="btn btn-outline-danger" (click)="entrar()">Entrar</button>
    <div class="mt-4"></div>
    </div>

    <div class=" form-group font text-center">




      <button class="btn btn-outline-danger" (click)="logout()"  >Desloguear</button>

      <div class="mt-4"></div>

    </div >

    </div>
  </div>
  </div>
  </div>
      </div>



