<section class="py-5 text-center container mt-3">
  <div class="row py-lg-5">
<div class="container font marketing" >

<hr class="featurette-divider ">
<section class="py-5 text-center container mt-3"></section>
        <div class="row featurette">
        <div class="row featurette ">
          <div class="col-md-7 align-self-center order-md-2">
            <p class="featurette-heading font text-center lead display-6 " >
               Adriana Vanesa Perez
               <br>
               </p>
            <p class="lead font ">

              Hola :)
Voy a contar algo de mi:
<br>
<br>
Era una estudiante de ingeniería en informática en la Universidad Arturo Jauretche pero por problemas durante la pandemia tuve que abandonar, pero decidí pasarme a licenciatura en informática para el 2023.
<br>
<br>
En estos momentos estudio de forma autodidacta matemáticas y programación..
<br>
<br>
Me interesa mucho el dibujo y el moldeado 3d, uno de mis anhelos es tener un emprendimiento sobre la creación de vídeos juegos y animación.
Durante la cuarentena encontré lo bello del pixel art y los juegos, ya comenze a dar los primeros pasas para aprender en esas ramas.

</p>
          <!--boton editar-->
          <button *ngIf="userLogeed|async as user"
          type="button" class="font btn btn-sm btn-outline-secondary"
          data-bs-toggle="modal" data-bs-target="#exampleModal "  >
            Edit
          </button>
          </div>
          <div class="col-md-5  order-md-1">
            <img class="featurette-image img-fluid mx-auto end-2" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="./assets/imagenes/65cx4dd.png">
            <!--boton editar-->
            <button type="button" class="font btn btn-sm btn-outline-secondary" *ngIf="userLogeed|async as user"
            data-bs-toggle="modal" data-bs-target="#exampleModal" >
              Edit
            </button>

          </div>
        </div>
      </div>
    </div>

