
<div class="container marketing">


<hr class="featurette-divider ">

        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading font">Adriana Vanesa Perez </h2>
            <p class="lead font ">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
          <!--boton editar-->
          <button type="button" class="font btn btn-sm btn-outline-secondary">
            Edit
          </button>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="featurette-image img-fluid mx-auto end-2" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="./assets/imagenes/65cx4dd.png">
            <!--boton editar-->
            <button type="button" class="font btn btn-sm btn-outline-secondary">
              Edit
            </button>


          </div>
        </div>
      </div>
