/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/vapor/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/vapor/bootswatch";

.font {
  font-family: "Finger Paint", cursive;
}


body {
  background: #212121  ;
}

button {
  cursor: pointer;
}

.tamFuente{
  font-size: 25px;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

