
 <!-- <img  class="img-fluid float-end  d-none d-sm-block mt-5" alt="Wild Landscape"  src="./assets/imagenes/5456t.png"  margin="200px" src=".\assets\imagenes\fox1.png" />-->

 <section class="py-5 text-center container mt-3">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-5 mx-auto"  >
      <img src="./assets/imagenes/21Agdf6t.png" height=500vh >
       <!--boton editar-->
       <button type="button" class="font btn btn-sm btn-outline-secondary" routerLink="/EditarComponent"  data-bs-toggle="modal" data-bs-target="#exampleModal" >
        Edit
      </button>
    </div>
  </div>
</section>




